<!-- templates/show_all_profiles.html -->
<html>
    <h1>
        MiniFacebook
    </h1>
    

    <table border = 0>
        {% for Profile in All_Profiles %}
        <thead>
            <tr>
                <th data-sortable="true"> Name</th>
                <th data-sortable="true">Email</th>
                <th data-sortable="true">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td>"{{Profile.first_name}}" "{{Profile.last_name}}"</td> -->
                <td><a href="{% url 'ShowProfilePage' Profile.pk %}">{{Profile.first_name}} {{Profile.last_name}}</a></td>
                <td>"{{Profile.email}}"</td>
                <td><img src="{{Profile.image_url}}" style="max-width: 400;"></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</html>
