{% extends 'mini_fb/base.html' %}

{% block content %}
<h1><a href = '{% url "news_feed" Profile.pk %}'>{{Profile.first_name}}'s News Feed</a> </h1>
<h1>{{Profile.first_name}} {{Profile.last_name}}</h1>
<ul>
    <img src="{{Profile.image}}" style="max-width: 800;">
</ul>

<h2>
    {{Profile.email}}
</h2>

<ul>
    {% if Profile.get_friends %}
    {% for friends in Profile.get_friends %}
    <table>
        <tr>
            <td>{{friends.first_name}}</td>
            <td>{{friends.last_name}}</td>
            <td>{{friends.email}}</td>
            <td>
                {% if friends.image %}
                <img src = '{{friends.image_file.url}}' style = 'max-width: 400;'>
                {% endif %}

            </td>
        </tr>
    </table>
    {% endfor %}
    {% else %}
    <li>{{Profile.first_name}} doesn't have any friends.</li>
    {% endif %}
</ul>

<ul>
    {% for status_message in Profile.get_status_messages %}
        <li>{{status_message.message}}</li>
        <a href = "{% url 'delete_status' profile_pk=Profile.pk status_pk=status_message.pk %}"> Delete Post </a>

    {% if status_message.image_file %}
    <img src='{{status_message.image_file.url}}' style='max-width: 600;'>
    {% endif %}
    {% endfor %}

<h2><a href = '{% url "update_profile" Profile.pk %}'>Edit Profile</a> </h2>

    <h1> Post Message</h1>
    <form method="POST" action='{% url "post_status" Profile.pk %}' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{create_status_form.as_table}} <!-- table-style formatting -->
            <tr>
                <td></td> <!-- empty! -->
                <td><input type="submit" value="Post Message"></td>
            </tr>
        </table>
  
    </form>
    {% endblock %}

</ul>

